/.idea
/declare/*.iml
/medical-api/*.iml
/medical-auth/*.iml
/*.iml
/trainingdoctors/*.iml
/medical-train/*.iml
/medical-common/*.iml

/.idea

/.project
/.settings/org.eclipse.m2e.core.prefs
/declare/.classpath
/declare/.project
/declare/.settings/.jsdtscope
/declare/.settings/org.eclipse.core.resources.prefs
/declare/.settings/org.eclipse.jdt.core.prefs
/declare/.settings/org.eclipse.m2e.core.prefs
/declare/.settings/org.eclipse.wst.common.component
/declare/.settings/org.eclipse.wst.common.project.facet.core.xml
/declare/.settings/org.eclipse.wst.jsdt.ui.superType.container
/declare/.settings/org.eclipse.wst.jsdt.ui.superType.name
/declare/.settings/org.eclipse.wst.validation.prefs
/medical-api/.classpath
/medical-api/.project
/medical-api/.settings/org.eclipse.core.resources.prefs
/medical-api/.settings/org.eclipse.jdt.core.prefs
/medical-api/.settings/org.eclipse.m2e.core.prefs
/medical-api/.settings/org.eclipse.wst.common.component
/medical-api/.settings/org.eclipse.wst.common.project.facet.core.xml
/medical-auth/.classpath
/medical-auth/.project
/medical-auth/.settings/.jsdtscope
/medical-auth/.settings/org.eclipse.core.resources.prefs
/medical-auth/.settings/org.eclipse.jdt.core.prefs
/medical-auth/.settings/org.eclipse.m2e.core.prefs
/medical-auth/.settings/org.eclipse.wst.common.component
/medical-auth/.settings/org.eclipse.wst.common.project.facet.core.xml
/medical-auth/.settings/org.eclipse.wst.jsdt.ui.superType.container
/medical-auth/.settings/org.eclipse.wst.jsdt.ui.superType.name
/medical-auth/.settings/org.eclipse.wst.validation.prefs
/medical-common/.classpath
/medical-common/.project
/medical-common/.settings/org.eclipse.core.resources.prefs
/medical-common/.settings/org.eclipse.jdt.core.prefs
/medical-common/.settings/org.eclipse.m2e.core.prefs
/medical-common/.settings/org.eclipse.wst.common.component
/medical-common/.settings/org.eclipse.wst.common.project.facet.core.xml
/medical-train/.classpath
/medical-train/.project
/medical-train/.settings/.jsdtscope
/medical-train/.settings/org.eclipse.core.resources.prefs
/medical-train/.settings/org.eclipse.jdt.core.prefs
/medical-train/.settings/org.eclipse.m2e.core.prefs
/medical-train/.settings/org.eclipse.wst.common.component
/medical-train/.settings/org.eclipse.wst.common.project.facet.core.xml
/medical-train/.settings/org.eclipse.wst.jsdt.ui.superType.container
/medical-train/.settings/org.eclipse.wst.jsdt.ui.superType.name
/medical-train/.settings/org.eclipse.wst.validation.prefs
/trainingdoctors/.classpath
/trainingdoctors/.project
/medical-pub/src/main/main1.iml
/medical-train/src/main/main.iml
/medical-train/src/test/test.iml
